// Navigation code here

body{
header{
    // border: 1px solid black;
    // margin: px;
    // padding: px;
    display: flex;
    flex-direction: column;
    align-items: center;
   

    /*mobile*/
 @media @phone{ 

    // flex-direction: column;
    // align-items: center;

}
}
}

h1{
    padding: .5%;
    .largestFont
}
nav{
    padding: 1% 0%;
     width: 90%;
}

a{
    .anchorPropsNav 
}

